<!-- Layout -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>לומדה פדיקר</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
    <!-- Logo: -->
    <div class="Logo" onclick="location.href='/'">
        <div class="LogoTexts">
            <h1 class="LogoText">לומדה </h1>
            <h1 class="LogoText">פדיקר</h1>
        </div>
        <div class="new">
            <p class="newText">חדש</p>
        </div>
    </div>
    <!-- Body: -->
    <%- body %>
</body>
</html>