<body dir="rtl">
    <div class="firstSection">
        <div>
            <h1 class="f1_Title" >מערכת הלמידה המתקדמת בישראל</h1>
            <div></div>
            <div class="f1_Box">
                <div class="f1_button" id="login" onclick="location.href='/students'">
                    התחברות
                </div>
            </div>
        </div>
    </div>
</body>